.contacts
  .day-contacts
    .contact
      4月6日 1直 白直
    .contact
      4月6日 2直 黒直
    .contact
      4月6日 3直 黄直
  .day-contacts
    .contact
      4月7日 1直 白直
    .contact
      4月7日 2直 黒直
    .contact
      4月7日 3直 黄直
  .day-contacts
    .contact
      4月8日 1直 白直
    .contact
      4月8日 2直 黒直
    .contact
      4月8日 3直 黄直