.header{
  height: 165px;
  width: 100%;
  background: orange;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  // font-family: 'Permanent Marker', cursive;

  .title{
    font-size: 120px;
    color: black;
    font-weight: bold;
    margin: auto;
    padding-left: 30px;
  }

  .menu{
    font-size: 25px;
    color: black;
    padding-right: 25px;
    font-weight: bold;

    &__sign-up{
      padding-bottom: 15px;
    }
    
    &__login{
      padding-bottom: 15px;
    }
    
  }
}