.header{
  height: 165px;
  width: 100%;
}

.wrappar{
  display: flex;
  width: 100%;
  height: calc(100% - 165px);
}

.side-bar{
  width: 350px;
  height: calc(100% - 165px);
}

.contents{
  width: calc(100% - 350px);
  height: calc(100% - 165px);
}